<%= simple_form_for [@category, @template, @infopage] do |f| %>
    <%= f.input :title %>
    <div class="form-group">
      <%= f.input :content, class:'summernote' %>
    </div>
    <%= f.button :submit %>
<% end %>