<h2 class="text-center text-info">Edit comment</h2>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @comment, input_html: {class: 'form-horizontal'} do |f| %>
        <%= f.input :content, as: :wysihtml5, autofocus: true, required: true, class: 'form-control', input_html: { id: 'description-textarea'} %>
        <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<script>
  $('#description-textarea').wysihtml5({toolbar:
  {
    'blockquote': false,
    'image': false,
    'lists': false,
    'emphasis': {
      'small': false,
      'underline': false
    },
    'link': false
  }})
</script>