<h1>Edit comment</h1>
<%= simple_form_for @comment, input_html: {class: 'form-horizontal'} do |f| %>
    <%= f.input :comment, autofocus: true, required: true, class: 'form-control' %>
    <%= f.button :submit %>
<% end %>