<%= @template.category.name %>
<h1><%= @template.name %></h1>
<h2>Description</h2>
<p><%= simple_format(@template.description)%></p>
<h2>Points Covered</h2>
<p><%= simple_format(@template.points_covered) %></p>