<h1 class="text-info text-center">Exclusive page for content creators !</h1>
<br>
<h3>Lets greet the new creators !</h3>
<div class="row">
  <%= render partial: 'creator', collection: @new_creators, as: :user %>
</div>

