<% ahoy.track 'Viewed Subscriptions form', track: 'Subscription' %>
<h1>Subscribe !</h1>
<script type="text/javascript" charset="utf-8">
  function getURLParameter(name) {
    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
  }

</script>


<%= form_tag subscriptions_path, :id=> 'payment-form' do %>
<span class="payment-errors"></span>
    <script>$("input[name='plan']").val(getURLParameter('plan'));</script>
    <input type="hidden" name="plan" value="">

<div class="form-row">
  <label>
    <span>Card Number</span>
    <input value="4242424242424242" type="text" size="20" data-stripe="number"/>
  </label>
</div>

<div class="form-row">
  <label>
    <span>CVC</span>
    <input value="123" type="text" size="4" data-stripe="cvc"/>
  </label>
</div>

<div class="form-row">
  <label>
    <span>Expiration (MM/YYYY)</span>
    <input value="10" type="text" size="2" data-stripe="exp-month"/>
  </label>
  <span> / </span>
  <input value="2017" type="text" size="4" data-stripe="exp-year"/>
</div>

<button type="submit">Submit Payment</button>
<% end %>

