/* Bootstrap button styles */

/* end of bootstrap button styles */

.authors{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.authors div {
    margin-right: 5%;
    line-height: 90%;
}
* {
    font-size: 103%;
}

footer {
    margin-top: 20%;
}
