/* Bootstrap button styles */
.btn-default
{
    color: #222222;
    border-color: #222222;
}

.btn-outline
{
    background-color: transparent;
    color: inherit;
    border-width: 2px;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    transition: all 0.75s;
}


.btn-outline.btn-square
{
    border-radius: 0;
}

.btn-outline.btn-primary
{
    color: #428bca;
}

.btn-success.btn-outline
{
    color: #5cb85c;
}

.btn-info.btn-outline
{
    color: #5bc0de;
}

.btn-warning.btn-outline
{
    color: #f0ad4e;
}

.btn-danger.btn-outline
{
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover
{
    color: #fff;
}

.btn-default.btn-outline:hover
{
    color: #666666;
}




.btn-circle
{
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 8px 10px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 30px;
}


.colorCycle-Primary
{
    background-color: #ffffff;
    border-width: 2px;
    color: #FFF;
    animation-name: primary-color;
    animation-duration:6s;
    animation-direction:alternate;
    animation-iteration-count:infinite;

    -webkit-animation-name: primary-color;
    -webkit-animation-duration:6s;
    -webkit-animation-direction:alternate;
    -webkit-animation-iteration-count:infinite;
}

@keyframes primary-color
{
    0% {background-color:  #3276B1;}
    25% {background-color: #255884;}
    50% {background-color: #99BBD8;}
    75% {background-color: #255884;}
}

@-webkit-keyframes Primary
{
    0% {background-color: #3276B1;}
    25% {background-color:#255884;}
    50% {background-color:#99BBD8;}
    75% {background-color:#255884;}
}


.colorCycle
{
    background-color: #ffffff;
    border-width: 2px;
    color: #FFF;
    animation-name: homeCycle;
    animation-duration:6s;
    animation-direction:alternate;
    animation-iteration-count:infinite;

    -webkit-animation-name: homeCycle;
    -webkit-animation-duration:6s;
    -webkit-animation-direction:alternate;
    -webkit-animation-iteration-count:infinite;
}

@keyframes homeCycle
{
    0% {background-color:#3276B1}
    25% {background-color:#255884;}
    50% {background-color:#CC3200;}
    75% {background-color: #47a447;}
}

@-webkit-keyframes homeCycle
{
    0% {background-color:#006;}
    25% {background-color:#060;}
    50% {background-color:#CC3200;}
    75% {background-color:#603;}
}

/* end of bootstrap button styles */

.authors{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.authors div {
    margin-right: 5%;
    line-height: 90%;
}
* {
    font-size: 103%;
}
